@import './basic/_grid.scss';
@import './basic/_variable.scss';

header {
  background-image: url('src/assets/images/home-header.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100vw;
}
.title_content {
  width: 50%;
  border: 1px solid #000;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $font_brown;
  & p{
    font-size: 36px;
  }
  .page_title {
    font-size: 64px;
    font-weight: bold;
  }
}
