    <%- include('./pages/layouts/head.html'); -%>
  <body>
    <%- include('./pages/layouts/navbar.html'); -%>
    <%- include('./pages/layouts/btnGroup.html'); -%>
    
    <div class="img_group">
      <img src="/public/assets/images/product-header-1.png" alt="Product Image" /><img
        src="/public/assets/images/product-header-2.png"
        alt="Product Image"
      />
    </div>
    <section class="product_section">
      <div class="container">
        <h1 class="fx-md-4">Celluloid Combi</h1>
        <h2 class="fx-md-4">賽璐珞鈦金屬混合鏡框</h2>
        <div class="row">
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
          <div class="product_card col-xl-4 col-lg-6 col-md-4">
            <img
              src="/public/assets/images/product-1.png"
              alt="Product Image"
              class="p_img"
            />
            <div class="p_card_info">
              <h3 class="p_type">BJ41600S</h3>
              <p class="p_price">NTD3,490</p>
            </div>
            <div class="p_footer">
              <div class="color p_color1"></div>
              <div class="color p_color2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./pages/layouts/pagination.html'); -%> <%-
    include('./pages/layouts/footer.html'); -%>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
