<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Optical</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('./pages/layouts/navbar.html'); -%>
    <div class="button_group">
      <ol class="button_group_contanier">
        <li><a href="">OPTICAL</a></li>
        <li><a href="">SUNGLASSES</a></li>
        <li><a href="">FUNCTIONAL</a></li>
      </ol>
    </div>

    <div class="img_group"><img src="" alt=""><img src="" alt=""></div>
    <section class="product_section">
      <div class="container">
        <h2></h2>
        <div class="products">
          <div class="p_card">
            <img src="" alt="">
            <div class="p_card_body">
              <row_1>
                <h4></h4>
                <p></p>
                <row_2>
                  <div class="color"></div>
                  <div class="color"></div>
                </row_2>
              </row_1>
            </div>
          </div>
          <div class="p_card">
            <img src="" alt="">
            <div class="p_card_body">
              <row_1>
                <h4></h4>
                <p></p>
                <row_2>
                  <div class="color"></div>
                  <div class="color"></div>
                </row_2>
              </row_1>
            </div>
          </div>
          <div class="p_card">
            <img src="" alt="">
            <div class="p_card_body">
              <row_1>
                <h4></h4>
                <p></p>
                <row_2>
                  <div class="color"></div>
                  <div class="color"></div>
                </row_2>
              </row_1>
            </div>
          </div>
          <div class="p_card">
            <img src="" alt="">
            <div class="p_card_body">
              <row_1>
                <h4></h4>
                <p></p>
                <row_2>
                  <div class="color"></div>
                  <div class="color"></div>
                </row_2>
              </row_1>
            </div>
          </div>
          <div class="p_card">
            <img src="" alt="">
            <div class="p_card_body">
              <row_1>
                <h4></h4>
                <p></p>
                <row_2>
                  <div class="color"></div>
                  <div class="color"></div>
                </row_2>
              </row_1>
            </div>
          </div>
          <div class="p_card">
            <img src="" alt="">
            <div class="p_card_body">
              <row_1>
                <h4></h4>
                <p></p>
                <row_2>
                  <div class="color"></div>
                  <div class="color"></div>
                </row_2>
              </row_1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./pages/layouts/footer.html'); -%>    
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
