<footer>
  <div class="container">
    <div class="footer_content">
      <div class="footer_links">
        <ul class="page_links">
          <li class="page_link"><a href="#">首頁</a></li>
          <li class="page_link"><a href="#">系列鏡框</a></li>
          <li class="page_link"><a href="#">門市據點</a></li>
          <li class="page_link"><a href="#">部落格</a></li>
          <li class="page_link"><a href="#">常見問題</a></li>
        </ul>
        <ul class="social_media">
          <li class="s_link"><a href="#"><img src="/assets/images/ic-social-fb.png" alt=""></a></li>
          <li class="s_link"><a href="#"><img src="/assets/images/ic-social-ig.png" alt="#"></a></li>
          <li class="s_link"><a href="#"><img src="/assets/images/ic-social-line.png"></img></a></li>
        </ul>
      </div>
      <div class="footer_info">
        <div class="f_content">
          <p class="material-symbols-outlined phone_icon fs-xl-6  fs-md-1">call</p>
          <p>0800-000-00</p>
        </div>
        <div class="f_content">
          <p class="material-symbols-outlined mail_icon  fs-xl-6 fs-md-1">
          mail
          </p>
          <p>glasses@business.com</p>
        </div>
      </div>
    </div>
    <div class="copy">
      <p>Copyright © 2020 Glasses.All rights reserved.</p>
      <ul class="c_info">
        <li><a href="#">隱私權政策</a></li>
        <li><a href="#">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>